<a href="https://colab.research.google.com/github/jd-mnn/big-data/blob/master/10_15_big_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
a<-as.integer(5)
b<-as.integer(3.8)
c<-as.integer(-1)

str(a)
str(b)
str(c)

 int 5
 int 3
 int -1

In [13]:
is.numeric(a)
is.integer(b)

[1] TRUE

[1] TRUE

In [9]:
d<-"hello"
e<-'hi'
str(d)
str(e)

 chr "hello"
 chr "hi"

In [19]:
g<-c(7,8,9,6,0)
h<-c("蔡英","賴清德","蘇貞昌")
h[2]

[1] "賴清德"

In [29]:
f<-c(1,2,3,4,5,6,7,8,9)
i<-c(2,3,4,5,6,7,8,9,0)

f*i
f^20
i<5

[1]  2  6 12 20 30 42 56 72  0

[1] 1.000000e+00 1.048576e+06 3.486784e+09 1.099512e+12 9.536743e+13
[6] 3.656158e+15 7.979227e+16 1.152922e+18 1.215767e+19

[1]  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE

In [33]:
gender<-c("男","女","男","男","女","中")
gender<-factor(gender)
gender
levels(gender)

[1] "男" "女" "男" "男" "女" "中"

NULL

In [39]:
j<-matrix(c(1:6), nrow=3, ncol=2)
j
k<-matrix(c(7:12), nrow=2, ncol=3)
k

j[2,2]
j[2,]
j[,2]

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

[1] 5

[1] 2 5

[1] 4 5 6

In [ ]:
tmp<-data.frame(Student.ID=C(1,2,3,4,5),
        name=c("Ben","Alan","Chris"))

In [46]:
install.packages("SportsAnalytics")

library(SportsAnalytics)
NBA1516<-fetch_NBAPlayerStatistics("15-16")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

ERROR: ignored

In [47]:
str(NBA1516)

'data.frame':	476 obs. of  25 variables:
 $ League             : Factor w/ 1 level "NBA": 1 1 1 1 1 1 1 1 1 1 ...
 $ Name               : chr  "Quincy Acy" "Jordan Adams" "Steven Adams" "Arron Afflalo" ...
 $ Team               : Factor w/ 31 levels "ATL","BOS","BRO",..: 27 15 22 20 19 13 28 26 12 15 ...
 $ Position           : Factor w/ 5 levels "C","PF","PG",..: 4 5 1 5 1 1 2 2 2 5 ...
 $ GamesPlayed        : int  59 2 80 71 59 60 74 9 79 64 ...
 $ TotalMinutesPlayed : int  877 15 2019 2359 863 802 2260 37 1601 1622 ...
 $ FieldGoalsMade     : int  119 2 261 354 150 134 536 5 191 215 ...
 $ FieldGoalsAttempted: int  214 6 426 799 314 225 1045 10 370 469 ...
 $ ThreesMade         : int  19 0 0 91 0 0 0 0 0 15 ...
 $ ThreesAttempted    : int  49 1 0 238 1 0 16 0 0 42 ...
 $ FreeThrowsMade     : int  50 3 114 110 52 60 259 0 46 90 ...
 $ FreeThrowsAttempted: int  68 5 196 131 62 84 302 0 73 138 ...
 $ OffensiveRebounds  : int  65 0 218 23 75 86 175 2 162 104 ...
 $ TotalRebounds      : int  188 2 531 266 269 288 631 6 424 297 ...
 $ Assists            : int  27 3 61 145 32 50 110 0 76 70 ...
 $ Steals             : int  29 3 42 25 19 47 38 1 26 109 ...
 $ Turnovers          : int  27 2 84 82 54 64 99 1 69 78 ...
 $ Blocks             : int  24 0 89 10 36 68 81 2 42 18 ...
 $ PersonalFouls      : int  103 2 223 142 134 139 151 1 147 175 ...
 $ Disqualifications  : int  0 0 2 1 0 1 0 0 1 1 ...
 $ TotalPoints        : int  307 7 636 909 352 328 1331 10 428 535 ...
 $ Technicals         : int  3 0 2 1 2 0 0 0 0 1 ...
 $ Ejections          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FlagrantFouls      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ GamesStarted       : int  29 0 80 57 17 5 74 0 28 56 ...

In [51]:
NBA1516Order<-NBA1516[order(NBA1516$GamesPlayed,decreasing=T),]
NBA1516Order[1:20,"Name"]

 [1] "Al-farouq Aminu"  "Will Barton"      "Bismack Biyombo"  "Corey Brewer"
 [5] "Gorgui Dieng"     "Langsto Galloway" "James Harden"     "Al Horford"
 [9] "Enes Kanter"      "Zach Lavine"      "Robin Lopez"      "Shabazz Muhammad"
[13] "Mason Plumlee"    "Ramon Sessions"   "Isaiah Thomas"    "Tristan Thompson"
[17] "Karl-antho Towns" "P.j. Tucker"      "Trevor Ariza"     "Aron Baynes"

In [52]:
NBA1516[grepl("Curry",NBA1516$Name),]

    League Name          Team Position GamesPlayed TotalMinutesPlayed
105 NBA    Seth Curry    SAC  SG       44           694
106 NBA    Stephen Curry GSW  PG       79          2705
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
105 102             224                 50        111             ⋯  22
106 805            1597                402        887             ⋯ 169
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
105  36        3      41           0                  299        0
106 261       16     161           0                 2375        1
    Ejections FlagrantFouls GamesStarted
105 0         0              9
106 0         0             79